[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
haystack-ai = "*"
datasets = ">=2.6.1"
sentence-transformers = ">=2.2.0"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
